@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --purple-gradient: linear-gradient(90deg, #c610c6 0%, #30a6ef 100%);
  --border-gradient-color-1: "#8B5CF6";
  --border-gradient-color-2: "#EC4899";
  --mainBg: #12062D
}

body {
  background: var(--mainBg)
}

.mainBg{
  background: var(--mainBg);
}

.nav-option:hover {
    margin-inline-start: 0em;
    margin-inline-end: 0.1em;
  }


.purple-gradient{
    /* @apply bg-gradient-to-r from-purple-600 to-blue-500; */
    background: var(--purple-gradient);
} 



.switch-purpleGrad{
  background: var(--purple-gradient);
  transition: background-color 0.3s;
  z-index: 999;
}

.hoverBg{
  background: transparent;
  outline: none;
}

.hoverLine{
  background: #463D5B;
  outline: none;
}

#hoverSvg{
   fill: white;
  } 
  
  /* .purpleBorder{
    background-image:   linear-gradient(90deg, #c610c6 0%, #30a6ef 100%) ;
  }
   */
  .purpleBorder{
    border: 2px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(90deg, #c610c6 0%, #30a6ef 100%);
    border-width: 1px;
  }



#hoverSvg:hover{
  color: transparent;
   /* Define your gradient colors */
  -webkit-background-clip: text; /* Apply the gradient to the text */
  background-clip: text; 
  color: linear-gradient(90deg, #c610c6 0%, #30a6ef 100%);
}

#hoverSvg stop:first-child {
  stop-color: #c610c6; /* Adjust the color of the last stop in the gradient */
}

#hoverSvg stop:last-child {
  stop-color: #30a6ef; /* Adjust the color of the first stop in the gradient */
}

.custom-icon{
  fill: white; 
}
.custom-icon1 {
  stroke: white; /* Set the initial color to white */
}

 /* MOBILE NOT WORKING */
/* .slick-current .custom-icon{
  fill: url(#hoverSvg);
}

.slick-current .custom-icon1{
  stroke: url(#hoverSvg);
} */


.custom-link:hover .custom-icon1{
  stroke: url(#hoverSvg); 
}
.custom-link:hover .custom-icon{
  fill: url(#hoverSvg); 
}

.hoverBg:hover,
.slick-current .hoverLine,
.custom-link:hover .hoverLine{
  background: var(--purple-gradient);
  border-color: var(--purple-gradient);
}

.switch-purpleGrad:hover {
  cursor: pointer;
  background: linear-gradient(90deg, #30a6ef 0%, #c610c6 100%);
  z-index: 999;
}

.programBg{
  background: linear-gradient(to bottom right, #30a6ef 0%, #c610c6 100%);
}
.skewBarBg{
  background: linear-gradient(to bottom right, #c610c6 0%, #30a6ef 100%);
}

.image-border:hover{
  @apply bg-gradient-to-r from-purple-600 to-blue-500;
}

.no-scrollbar::-webkit-scrollbar {
    width: 0px;
  }

  /* .no-scrollbar::-webkit-scrollbar-thumb {
    background-color: #888;
  }

  .no-scrollbar::-webkit-scrollbar-track {
    background-color: #f2f2f2;
  } */

.oblique-line{
  position:  absolute;
  bottom: 3px;
  left: 1px;
  width: 100%;
  height: 2px;
  background-color: white;
  transform: rotate(-20deg);
  transform-origin: left;
}


.heroDescCaption{
  transform: translateY(100%);
  transform-origin: bottom left;
  transition: transform 0.7s;
}

.slick-current .heroDescCaption {
  transform: translateY(1%);
}


.circle {
  border-radius: 50%;
  background-color: #eaeaea;
  position: relative;
  overflow: hidden;
}

.circle::after {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  border: 2px solid transparent;
  border-radius: 50%;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.3s, border-color 0.3s;
}

.circle:hover::after {
  border-color: pink;
  animation: circle-animation 2s linear infinite;
  opacity: 1;
}

@keyframes circle-animation {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
    border-color: pink;
  }
  25% {
    transform: translate(-50%, -50%) rotate(90deg);
    border-color: pink;
  }
  50% {
    transform: translate(-50%, -50%) rotate(180deg);
    border-color: pink;
  }
  75% {
    transform: translate(-50%, -50%) rotate(270deg);
    border-color: pink;
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
    border-color: pink;
  }
}



.image-nav img {
  transition: transform 0.3s;
}

.image-nav:hover{
  transform: scale(1.1); /* Adjust the scale factor as per your preference */
}



.image-container {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.image-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: inherit;
  border: 4px solid transparent;
  transition: border-color 0.3s;
  pointer-events: none;
}

.image-container:hover::before {
  border-image: var(--purple-gradient) 1;
  border-image-slice: 2;
  border-color: transparent;
}

.bottomProgIcon3{
  transform: translateY(100%);
  transform-origin: bottom left;
  transition: transform 1s;
}
.activebottomProgIcon3{
  transform: translateY(-40%) translateX(70%);
  transform-origin: bottom left;
  transition: transform 1s;
}

.bottomProgIcon1{
  transform: translateY(140%);
  transform-origin: bottom left;
  transition: transform 0.7s;
}
.activebottomProgIcon1{
  transform: translateY(-40%)  translateX(50%);
  transform-origin: bottom left;
  transition: transform 0.7s;
}

.bottomProgIcon2{
  transform: translateY(70%);
  transform-origin: bottom left;
  transition: transform 0.7s;
}
.activebottomProgIcon2{
  transform: translateY(-60%)  translateX(20%);
  transform-origin: bottom left;
  transition: transform 0.7s;
}


.topProgIcon3{
  transform: translateY(-250%) translateX(300%);
  transform-origin: top right !important;
  transition: transform 0.6s;
}
.activeTopProgIcon3 {
  transform: translateY(10%) translateX(260%) !important;
  transform-origin: top right !important;
  top: 0;
  transition: transform 0.6s;
}


.topProgIcon1{
  transform: translateY(-250%) translateX(300%);
  transform-origin: top right !important;
  transition: transform 0.7s;
}

.activeTopProgIcon1 {
  transform: translateY(-140%) translateX(260%);
  transform-origin: top right !important;
  transition: transform 0.7s;
}

.topProgIcon2{
  transform: translateY(-280%) translateX(400%);
  transform-origin: top right !important;
  transition: transform 0.7s;
}

.activeTopProgIcon2{
  transform: translateY(-120%) translateX(350%) !important;
  transform-origin: top right !important;
  transition: transform 0.7s;
}

.subHero {
  max-width: 800px !important; /* Set your desired maximum width */
  margin-left: auto;
  margin-right: auto;
}

.subHero .slick-slider{
  max-width: 400px !important;
}

.programsSlider .slick-dots,
.subHero .slick-dots {
  position: relative;
  bottom: -20px;
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.programsSlider .slick-dots{
  bottom: -5px !important;
}

.programsSlider .slick-dots li{
  margin: 14px 2px;
}
.subHero .slick-dots li {
  margin: 0 2px;
}

.programsSlider .slick-dots li button{
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #bbb;
  cursor: pointer;
}

.subHero .slick-dots li button {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #bbb;
  cursor: pointer;
}

.subHero .slick-dots li.slick-active button {
  background: linear-gradient(to bottom, #c610c6 0%, #30a6ef 100%);
  border: transparent;
}

.programsSlider .slick-dots li.slick-active button{
  background: linear-gradient(to bottom, #c610c6 0%, #30a6ef 100%);
  border: transparent;
}



.programsShadow{
  -webkit-box-shadow: 10px 10px 185px -54px rgba(187,83,252,1);
  -moz-box-shadow: 10px 10px 185px -54px rgba(187,83,252,1);
  box-shadow: 10px 10px 185px -54px rgba(187,83,252,1);
}