@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --purple-gradient: linear-gradient(90deg, #c610c6 0%, #30a6ef 100%);
  --border-gradient-color-1: "#8B5CF6";
  --border-gradient-color-2: "#EC4899";
}

body {
  background: #12062D;
}

.nav-option:hover {
    margin-inline-start: 0em;
    margin-inline-end: 0.1em;
  }


.purple-gradient{
    /* @apply bg-gradient-to-r from-purple-600 to-blue-500; */
    background: var(--purple-gradient);
} 

.switch-purpleGrad{
  background: var(--purple-gradient);
  transition: background-color 0.3s;
  z-index: 999;
}

.hoverBg{
  background: transparent;
  outline: none;
}

.hoverBg:hover{
  background: var(--purple-gradient);
  border-color: var(--purple-gradient);
}

.switch-purpleGrad:hover {
  cursor: pointer;
  background: linear-gradient(90deg, #30a6ef 0%, #c610c6 100%);
  z-index: 999;
}

.image-border:hover{
  @apply bg-gradient-to-r from-purple-600 to-blue-500;
}

.no-scrollbar::-webkit-scrollbar {
    width: 0px;
  }

  /* .no-scrollbar::-webkit-scrollbar-thumb {
    background-color: #888;
  }

  .no-scrollbar::-webkit-scrollbar-track {
    background-color: #f2f2f2;
  } */

.oblique-line{
  position:  absolute;
  bottom: 3px;
  left: 1px;
  width: 100%;
  height: 1.2px;
  background-color: white;
  transform: rotate(-20deg);
  transform-origin: left;
}


.heroDescCaption{
  transform: translateY(100%);
  transform-origin: bottom left;
  transition: transform 0.7s;
}

.slick-current .heroDescCaption {
  transform: translateY(1%);
}


.circle {
  border-radius: 50%;
  background-color: #eaeaea;
  position: relative;
  overflow: hidden;
}

.circle::after {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  border: 2px solid transparent;
  border-radius: 50%;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.3s, border-color 0.3s;
}

.circle:hover::after {
  border-color: pink;
  animation: circle-animation 2s linear infinite;
  opacity: 1;
}

@keyframes circle-animation {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
    border-color: pink;
  }
  25% {
    transform: translate(-50%, -50%) rotate(90deg);
    border-color: pink;
  }
  50% {
    transform: translate(-50%, -50%) rotate(180deg);
    border-color: pink;
  }
  75% {
    transform: translate(-50%, -50%) rotate(270deg);
    border-color: pink;
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
    border-color: pink;
  }
}



.image-nav img {
  transition: transform 0.3s;
}

.image-nav:hover{
  transform: scale(1.1); /* Adjust the scale factor as per your preference */
}



.image-container {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.image-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: inherit;
  border: 4px solid transparent;
  transition: border-color 0.3s;
  pointer-events: none;
}

.image-container:hover::before {
  border-image: var(--purple-gradient) 1;
  border-image-slice: 2;
  border-color: transparent;
}

